@model IEnumerable<QuizMVC.Models.Quiz.QuestionAnswer>

@{
    ViewData["Title"] = "Question Answers";
}

<h1>Question Answers</h1>

<div class="table-container">
    <table class="table table-bordered table-hover" id="question-answers">
        <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(qa => qa.Id)
            </th>
            <th>
                Question Text
            </th>
            <th>
                @Html.DisplayNameFor(qa => qa.RightAnswer)
            </th>
        </tr>
        </thead>
        <tbody>
        @foreach (var questionAnswer in Model)
        {
            <tr>
                <td>@Html.DisplayFor(qa => questionAnswer.Id)</td>
                <td>@Html.DisplayFor(qa => questionAnswer.Question.QuestionText)</td>
                <td>@Html.DisplayFor(qa => questionAnswer.RightAnswer)</td>
                <td>
                    <a asp-controller="QuestionAnswers" asp-action="Edit" asp-route-id="@questionAnswer.Id" class="btn btn-primary m-1 ms-1">Edit</a>           
                    <a asp-controller="QuestionAnswers" asp-action="Details" asp-route-id="@questionAnswer.Id" class="btn btn-success m-1 ms-1">Details</a>   
                    <a href="#"  class="btn btn-danger m-1 ms-1">Delete</a>     
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>

