@model IEnumerable<QuizMVC.Models.Quiz.QuestionType>

@{
    ViewData["Title"] = "Question Types";
}

<h1>Question Types</h1>


<a asp-area="Tables" asp-controller="QuestionTypes" asp-action="Create">Add New</a> 
<hr/>
<div class="table-container">
    <table class="table table-bordered table-hover" id="question-types">
        <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(qt => qt.Id)
            </th>
            <th>
                @Html.DisplayNameFor(qt => qt.Type)
            </th>
        </tr>
        </thead>
        <tbody>
        @foreach (var questionType in Model)
        {
            <tr>
                <td>@Html.DisplayFor(qt => questionType.Id)</td>
                <td>@Html.DisplayFor(qt => questionType.Type)</td>
                <td>
                    <a asp-controller="QuestionTypes" asp-action="Edit" asp-route-id="@questionType.Id" class="btn btn-primary m-1 ms-1">Edit</a>           
                    <a asp-controller="QuestionTypes" asp-action="Details" asp-route-id="@questionType.Id" class="btn btn-success m-1 ms-1">Details</a>      
                    <a asp-controller="QuestionTypes" asp-action="Delete" asp-route-id="@questionType.Id" class="btn btn-danger m-1 ms-1">Delete</a>  
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>